$background-color: #f6f9f9;
$main-color: rgb(37, 166, 247);
$modal-btn-size: 20px;
$loading-size: 120px;
$loading-thickness: 5px;
$content-max-width: 1170px;
$small-img-width: 360px;
$small-img-height: 260px;
